services:
  backend:
    build:
      context: .
    volumes:
      - ..:/app
    working_dir: /app
    command: sleep infinity
  db:
    image: postgres:14.3
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123456
      POSTGRES_DB: app
